[submodule "external/ndicapi"]
	path = external/ndicapi
	url = https://github.com/PlusToolkit/ndicapi
[submodule "external/DynamixelSDK"]
	path = external/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
